In [2]:
print(2+2)

4

In [6]:
i = 30
print(i)

30

In [1]:
print('hey ' + 'was?!')

hey was?

In [2]:
anArray = ['hey', 'wieso', 'nicht']
print(anArray[1])

wieso

In [4]:
grocery_items = {'bananas': 2.99, 'apples': 1.59, 'ananas': 7.88}
item = 'brussel sprouts'
if item in grocery_items:
    print('found the', item)
else:
    print('could not find the', item)
    print(grocery_items)

could not find the brussel sprouts
{'bananas': 2.99, 'apples': 1.59, 'ananas': 7.88}

In [5]:
grocery_items.update({item: 2.77})
print(grocery_items)

{'bananas': 2.99, 'apples': 1.59, 'ananas': 7.88, 'brussel sprouts': 2.77}

In [1]:
months = ['Januar', 'Ferbuar', 'März']
for month in months:
    print(month)

Januar
Ferbuar
März

In [3]:
for number in range(0, 10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
movies = {'Titanic': 1997, 'Jurassic Park': 1995}

for (key, value) in movies.items():
    print('The movie \'{}\', was made in {}'.format(key, value))

The movie 'Titanic', was made in 1997
The movie 'Jurassic Park', was made in 1995

In [1]:
movies = {'Titanic': 1997, 'Jurassic Park': 1995}

for (key, value) in movies.items():
    print(f'The movie {key}, was made in {value}!')

The movie Titanic, was made in 1997!
The movie Jurassic Park, was made in 1995!

In [5]:
def rectangleArea(length, width):
    """comment"""
    return length * width
print(rectangleArea(5,5))

25

In [9]:
numbers = [1, 2, 3, 4, 5, 6]

print(list(filter(lambda number: number % 2 == 0, numbers)))

[2, 4, 6]

In [12]:
listTwo = list(range(1, 4))
listThree = list(range(1, 4))
listSum = []

for index in range(3):
    listTwo[index] = listTwo[index] ** 2
    listThree[index] = listThree[index] ** 3
    listSum.append(listTwo[index] + listThree[index])
print(listSum)

[1, 2, 3]
[2, 12, 36]

In [2]:
import numpy as np

arrayTwo = np.arange(1, 4) ** 2
arrayThree = np.arange(1, 4) ** 3
print(arrayTwo + arrayThree)

[ 2 12 36]

In [15]:
sampleArray = np.array([1, 2, 3])
print(np.power(sampleArray, 4))

[ 1 16 81]

In [14]:
print(np.negative(sampleArray))

[-1 -2 -3]

In [16]:
print(np.exp(sampleArray))

[ 2.71828183  7.3890561  20.08553692]

In [17]:
print(np.log(sampleArray))

[0.         0.69314718 1.09861229]

In [18]:
print(np.sin(sampleArray))

[0.84147098 0.90929743 0.14112001]

In [3]:
x = np.arange(3)
y = np.arange(3, 6)
z = np.arange(6, 9)

multiArray = np.array([x, y, z])
print(multiArray)
print(multiArray.shape)
print(multiArray > 5)
print(multiArray[multiArray > 5])
print(multiArray.max())
print(multiArray.ravel())

[[0 1 2]
 [3 4 5]
 [6 7 8]]
(3, 3)
[[False False False]
 [False False False]
 [ True  True  True]]
[6 7 8]
8
[0 1 2 3 4 5 6 7 8]

In [33]:
w = np.linspace(1, 49, 49)
print(w)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49.]